:root{
  color-scheme: dark;
}

html {
  display: flex;
  padding: 2em;
  padding-top: 0em;
  font-size: 1.2em;
  background-color: #282c34;
  color:#abb2bf;
  overflow: auto;
  font-family: system-ui;
  line-height: 1.4;
  font-weight: 500;
  box-sizing: border-box;
}

h1 {
  font-size: 2.4em;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #ffffff;
  box-sizing: border-box;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: #ffffff;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  margin-block-start: 1.0em;
  margin-block-end: 1.0em;
  color: #ffffff;
}

h4 {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  color: #ffffff;
}

h5 {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  color: #ffffff;
}

h6 {
  font-size: 1.0em;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #ffffff;
}

a {
  color: #528bff;
  cursor: pointer;
  text-decoration: none;
}

ol {
  margin-top: 0;
  margin-bottom: 1.5em
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ul {
  dsplay: block;
  margin-top: 0;
  margin-bottom: 1.5em;
}

ul ul, ol ul, ul ol, ol ol {
  margin-bottom: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

ul ul, ol ul {
  list-style-type: circle;
}

ol ol ul, ol ul ul, ul ol ul, ul ul ul {
  list-style-type: square;
  margin-block-start: 0px;
  margin-block-endP: 0px;
}

li {
  display: list-item;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
  line-height: 1.6;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: inherit;
}

b, strong {
  color: #ffffff;
}

table {
  margin: 1.5em 0;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  display: table;
  border-color: grey;
  font-size: 1.0em;
  color: #abb2bf;
}

thead {
  color: #ffffff;
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
